In [43]:
import pandas as pd
import numpy as np
from utils import clean_nyse

In [54]:
df = pd.read_csv('./stock_prices/nyse_a.csv')

In [55]:
df = clean_nyse(df)

In [56]:
df['pdc'] = df['close'].shift()

In [57]:
df = df.drop(0, axis=0).reset_index(drop=True)

In [58]:
df.head()

        date   open   high    low  close   volume    pdc
0 2016-10-31  43.33  43.70  43.18  43.57  1556762  43.49
1 2016-10-28  43.38  43.87  43.11  43.22  1471348  43.57
2 2016-10-27  43.97  44.19  43.35  43.38  2393625  43.22
3 2016-10-26  43.42  43.82  43.24  43.37  2146178  43.38
4 2016-10-25  45.26  45.59  43.17  43.51  3949609  43.37

In [59]:
def calc_n(df_origin):
    # take in a dataframe
    # return a series of the N for that day
    df = df_origin.copy()
    # true range
    # max(high-low, h-pdc, pdc-l)
    def calc_tr(row):
        return max(row['high'] - row['low'], row['high'] - row['pdc'], row['pdc'] - row['low'])
    df['tr'] = df.apply(calc_tr, axis=1)
    
    # first N (average of first 20 true ranges)
    df['N'] = np.nan
    df.loc[19, 'N'] = df.loc[:19, 'tr'].mean()
    return df
    
    # N
    # (19 * pdn + true range) / 20

In [60]:
df = calc_n(df)

In [79]:
((19 * df.loc[19, 'N']) + df.loc[20, 'tr']) / 20

0.93154999999999943

In [72]:
df.loc[1:20, 'tr'].mean()

0.95349999999999935

In [74]:
df.loc[20, 'tr']

0.40999999999999659

In [80]:
df.loc[19]

date      2016-10-04 00:00:00
open                    47.07
high                     47.3
low                     46.67
close                   46.83
volume                1763985
pdc                     47.15
tr                       0.63
N                       0.959
Name: 19, dtype: object

In [81]:
(19 * df.loc[19, 'N'])

18.220999999999993