In [1]:
import pandas as pd
import numpy as np
from utils import clean_nyse, get_clean_and_n, get_nyse

In [5]:
df = get_nyse('abx')

KeyError: 'date'

In [2]:
df = pd.read_csv('./stock_prices/nyse_a.csv')

In [3]:
df = get_clean_and_n(df)

In [3]:
df.head()

        date   open   high    low  close   volume    pdc    tr         N
0 2016-10-04  47.07  47.30  46.67  46.83  1763985  47.15  0.63  0.959000
1 2016-10-03  46.82  47.23  46.82  47.14  1539625  46.83  0.41  0.931550
2 2016-09-30  46.50  47.32  46.30  47.09  1754316  47.14  1.02  0.935972
3 2016-09-29  47.05  47.27  46.14  46.41  1938218  47.09  1.13  0.945674
4 2016-09-28  46.90  47.26  46.52  47.18  1502533  46.41  0.85  0.940890

In [56]:
df = clean_nyse(df)

In [60]:
df = calc_n(df)

In [61]:
df.head()

        date   open   high    low  close   volume    pdc    tr         N
0 2016-10-04  47.07  47.30  46.67  46.83  1763985  47.15  0.63  0.959000
1 2016-10-03  46.82  47.23  46.82  47.14  1539625  46.83  0.41  0.931550
2 2016-09-30  46.50  47.32  46.30  47.09  1754316  47.14  1.02  0.935972
3 2016-09-29  47.05  47.27  46.14  46.41  1938218  47.09  1.13  0.945674
4 2016-09-28  46.90  47.26  46.52  47.18  1502533  46.41  0.85  0.940890

In [54]:
(19 * .93155 + 1.02) / 20

0.9359724999999999

In [52]:
df.loc[19:].head(22)

         date   open   high    low  close   volume    pdc    tr         N
19 2016-10-04  47.07  47.30  46.67  46.83  1763985  47.15  0.63  0.959000
20 2016-10-03  46.82  47.23  46.82  47.14  1539625  46.83  0.41  0.931550
21 2016-09-30  46.50  47.32  46.30  47.09  1754316  47.14  1.02  0.935972
22 2016-09-29  47.05  47.27  46.14  46.41  1938218  47.09  1.13  0.945674
23 2016-09-28  46.90  47.26  46.52  47.18  1502533  46.41  0.85  0.940890
24 2016-09-27  46.53  46.71  46.23  46.70  1587143  47.18  0.95  0.941346
25 2016-09-26  46.46  46.77  46.16  46.57  2639060  46.70  0.61  0.924778
26 2016-09-23  46.43  46.87  46.31  46.61  1957032  46.57  0.56  0.906539
27 2016-09-22  46.38  46.70  46.29  46.67  1307074  46.61  0.41  0.881712
28 2016-09-21  45.98  46.25  45.41  46.04  1612736  46.67  1.26  0.900627
29 2016-09-20  45.33  45.95  45.15  45.71  2333122  46.04  0.89  0.900096
30 2016-09-19  44.90  45.48  44.86  44.95  1927900  45.71  0.85  0.897591
31 2016-09-16  45.39  45.39  44.74  44.79  2592850  44.95  0.65  0.885211
32 2016-09-15  44.86  45.68  44.81  45.44  1733971  44.79  0.89  0.885451
33 2016-09-14  45.01  45.10  44.60  44.86  1604806  45.44  0.84  0.883178
34 2016-09-13  45.36  45.42  44.61  44.90  3461832  44.86  0.81  0.879519
35 2016-09-12  44.59  45.81  44.47  45.75  1835434  44.90  1.34  0.902543
36 2016-09-09  46.51  46.53  44.87  44.88  2507018  45.75  1.66  0.940416
37 2016-09-08  47.07  47.16  46.94  47.02   884738  44.88  2.28  1.007395
38 2016-09-07  47.07  47.17  46.86  47.11  1542576  47.02  0.31  0.972526
39 2016-09-06  46.90  47.11  46.72  46.95  1460928  47.11  0.39  0.943399
40 2016-09-02  47.23  47.39  46.89  47.00  1424454  46.95  0.50  0.921229

In [74]:
df.loc[20, 'tr']

0.40999999999999659

In [80]:
df.loc[19]

date      2016-10-04 00:00:00
open                    47.07
high                     47.3
low                     46.67
close                   46.83
volume                1763985
pdc                     47.15
tr                       0.63
N                       0.959
Name: 19, dtype: object

In [81]:
(19 * df.loc[19, 'N'])

18.220999999999993