In [20]:
import quandl
import datetime as dt
import pandas as pd

In [3]:
df_dow_jones = quandl.get('YAHOO/INDEX_DJI')

In [4]:
df_dow_jones.head()

,Open,High,Low,Close,Volume,Adjusted Close
Date,,,,,,
1985-01-29,1277.719971,1295.489990,1266.890015,1292.619995,13560000.0,1292.619995
1985-01-30,1297.369995,1305.099976,1278.930054,1287.880005,16820000.0,1287.880005
1985-01-31,1283.239990,1293.400024,1272.640015,1286.770020,14070000.0,1286.770020
1985-02-01,1276.939941,1286.109985,1269.770020,1277.719971,10980000.0,1277.719971
1985-02-04,1272.079956,1294.939941,1268.989990,1290.079956,11630000.0,1290.079956

In [6]:
df_dow_jones.index.min()

Timestamp('1985-01-29 00:00:00')

In [13]:
dt.datetime(1985, 2, 4).weekday()

0

In [33]:
# add weekday number (4 == Friday)
df_weekday = pd.DataFrame(df_dow_jones.index.map(lambda x: x.weekday), index = df_dow_jones.index)
df_weekday.columns = ['weekday']
                          
df_dow_jones = df_dow_jones.merge(df_weekday, how='outer', left_index=True, right_index=True)

In [40]:
# add week number
df_week_number = pd.DataFrame(df_dow_jones.index.map(lambda x: x.week), index=df_dow_jones.index)
df_week_number.columns = ['week_number']
df_dow_jones = df_dow_jones.merge(df_week_number, how='outer', left_index=True, right_index=True)

In [41]:
# add year

df_year = pd.DataFrame(df_dow_jones.index.map(lambda x: x.year), index=df_dow_jones.index)
df_year.columns = ['year']
df_dow_jones = df_dow_jones.merge(df_year, how='outer', left_index=True, right_index=True)

In [42]:
df_dow_jones.head()

,Open,High,Low,Close,Volume,Adjusted Close,weekday,week_number,year
Date,,,,,,,,,
1985-01-29,1277.719971,1295.489990,1266.890015,1292.619995,13560000.0,1292.619995,1,5,1985
1985-01-30,1297.369995,1305.099976,1278.930054,1287.880005,16820000.0,1287.880005,2,5,1985
1985-01-31,1283.239990,1293.400024,1272.640015,1286.770020,14070000.0,1286.770020,3,5,1985
1985-02-01,1276.939941,1286.109985,1269.770020,1277.719971,10980000.0,1277.719971,4,5,1985
1985-02-04,1272.079956,1294.939941,1268.989990,1290.079956,11630000.0,1290.079956,0,6,1985