In [1]:
import pandas as pd

In [38]:
df = pd.read_csv('twa_example.csv')

In [39]:
df['ma_5'] = df['value'].rolling(5).mean()

df['ma_15'] = df['value'].rolling(15).mean()
df['ma_40'] = df['value'].rolling(40).mean()

In [45]:
df = df.loc[39:]

In [47]:
df

      date   value    ma_5      ma_15      ma_40
39  26-Jun  11.000  12.720  14.420000  20.670000
40   3-Jul  10.500  12.350  13.920000  20.230000
41  10-Jul  10.875  11.670  13.480000  19.780000
42  17-Jul  11.875  11.570  13.150000  19.400000
43  24-Jul  10.875  11.025  12.790000  18.980000
44  31-Jul  12.375  11.300  12.610000  18.550000
45   7-Aug  12.500  11.700  12.520000  18.130000
46  14-Aug  13.000  12.125  12.390000  17.700000
47  21-Aug  13.750  12.500  12.330000  17.290000
48  28-Aug  15.750  13.475  12.490000  16.950000
49   4-Sep  14.750  13.950  12.656667  16.580000
50  11-Sep  13.625  14.175  12.741667  16.240000
51  18-Sep  14.500  14.475  12.756667  16.020000
52  25-Sep  14.375  14.600  12.890000  15.800000
53   2-Oct  16.750  14.800  13.100000  15.600000
54   9-Oct  15.875  15.025  13.425000  15.400000
55  16-Oct  13.875  15.075  13.650000  15.180000
56  23-Oct  12.375  14.650  13.750000  14.940000
57  30-Oct  11.750  14.125  13.741667  14.730000
58   6-Nov  12.500  13.275  13.850000  14.600000
59  13-Nov  12.250  12.550  13.841667  14.460000
60  20-Nov  10.875  11.950  13.733333  14.210000
61  27-Nov  10.375  11.550  13.558333  14.000000
62   4-Dec  12.375  11.675  13.466667  13.790000
63  11-Dec  12.125  11.600  13.225000  13.610000
64  18-Dec  12.125  11.575  13.050000  13.457500
65  25-Dec  12.500  11.900  12.975000  13.320000
66   1-Jan  13.750  12.575  12.925000  13.226875
67   8-Jan  14.375  12.975  12.925000  13.165625
68  15-Jan  15.875  13.725  12.866667  13.155625
69  22-Jan  16.500  14.600  12.908333  13.191250
70  29-Jan  18.000  15.700  13.183333  13.295000
71   5-Feb  16.875  16.325  13.483333  13.343125
72  12-Feb  18.000  17.050  13.900000  13.426875
73  19-Feb  17.750  17.425  14.250000  13.536875
74  26-Feb  18.875  17.900  14.691667  13.702500
75   5-Mar  20.375  18.375  15.325000  13.903125